body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem 0;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

table {
  width: 100%;
  min-width: 50rem;

  tr:nth-child(even) th {
    color: #ccc;
    font-weight: normal;
  }

  th,
  td {
    padding: 0.5rem 1rem;
  }

  th {
    font-weight: normal;
    border-top: thin dotted #ccc;
  }

  td {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.4;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease;
  }

  td > span {
    font-size: 0.8em;
    font-weight: normal;
    display: block;
    width: 100%;
  }
}

.stage-earth {
  background-color: #ffa726;
}

.stage-mercury {
  background-color: #9ccc65;
}

.stage-venus {
  background-color: #ff8a65;
}

.stage-mars {
  background-color: #b3e5fc;
}

.stage-jupiter {
  background-color: #81d4fa;
}

.stage-current {
  background-color: #16db41;
}

.save-button {
  background-color: #1bc4ee;
}
